services:
  mongo:
    image: mongo:7
    container_name: series-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: series-backend
    environment:
      MONGO_URI: "mongodb://mongo:27017"
      MONGO_DB: "series_db"
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "http://localhost:8000"
    container_name: series-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo_data:
